<style>
body {
  background-color: #132F4F;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #E0ECFA;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #E0ECFA;
}

h3 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #E0ECFA;
}
</style>

